* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "iranyekan", 'Segoe UI', Tahoma, sans-serif;
    background: url("../Images/Status/BG.jpg");
    background-position: center;
    background-size: cover;
}

header {
    text-align: center;
    position: relative;
    top: 5rem;
}

#wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.4);
    width: 270px;
    height: 350px;
    border-radius: 7px;
    backdrop-filter: blur(1.4px);

}

#city {
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 3px rgba(2, 2, 2, 0.808);
    padding: 12px 20px;
    border-radius: 5px;
    margin-top: 40px;
    direction: ltr;
    text-align: center;


}

#show-weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 180px;
    padding: 12px;

}

#weather-status {
    background-size: contain;
    background-position-x: left;
    width: 100%;
    height: 200px;
}

#location-info {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;

}